body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Or your preferred font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5; /* Light gray background */
  color: #333; /* Dark gray text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Basic Material UI Overrides */
.MuiButton-root {
  text-transform: none; /* Disable uppercase text on buttons */
}

.MuiTextField-root {
  margin-bottom: 16px; /* Add spacing below text fields */
}

/* Container Styling */
.container {
  max-width: 1200px; /* Limit container width for larger screens */
  margin: 0 auto;
  padding: 16px;
}

/* elements with the .vf-stavenote class turn bright blue when you click on them, grow slightly bigger and stay active*/ 
.vf-stavenote {
  cursor: pointer;
  transition: all 0.2s;
}
.vf-stavenote:active {
  background-color: #0ff;
  color: #0ff;
  stroke: #0ff;
  fill: #0ff;;
  transform: scale(1.05);
}
.vf-stavenote:hover {
  fill: #0ff;
  stroke: #0ff;
  background-color: #0ff;
  color: #0ff;
}